body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
  }
  
  #display {
    width:280px;
    height: 50px;
    text-align: right;
    font-size: 24px;
    border: none;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 480px) {
    #display{
      width: 94%;
    }
    
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    padding: 20px;
    font-size: 18px;
    background-color: #eee;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #ddd;
  }
  
  button.zero {
    grid-column: span 2;
  }
  
  button:active {
    background-color: #ccc;
  }
  

